<!DOCTYPE html>  
<html ng-app="myapp">  
<head>  
    <meta charset="UTF-8">  
    <title>前端研究</title>  
    <script type="text/javascript" src="../bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/resource.js"></script>
</head>  
<body>  
    <div class="container" ng-controller="PController">  
        <h1 class="text-center text-danger">Angular 地址联动示例</h1>  
        <div class="form-horizontal">  
            <div class="form-group">  
                <label class="col-md-2 control-label">  
                    地址  
                </label>  
                <div class="col-md-10">
                    <select ng-model="province" ng-options="data.sheng as data.name for data in division | filter:{level:1}" class="form-control"><option value="">省</option></select>  
                    <select ng-model="city"  ng-options="data.di as data.name for data in division | filter:{level:2,sheng:province}" class="form-control"><option  value="">市</option></select>  
                    <select ng-model="area" ng-options="data.di as data.name for data in division | filter:{level:3,sheng:province,di:city}" class="fol"><option  value="">区</option></select>  
                </div>
            </div>  
        </div>  
    </div> 
    
    <script type="text/javascript">
    	//路由（router,ui-router）
    	//依赖注入
    	//过滤器，指令
    	//自定义module
    	//服务$http,promise
     	var app = angular.module("myapp",[]);
     	app.controller("PController",function($scope){
     		$scope.division = division;
     		$scope.$watch("province",function(){
     			$scope.city = "";
     			$scope.area = "";
     		});
     		
     		$scope.$watch("city",function(){
     			$scope.area = "";
     		});
     	});
    </script>
</body>  
</html>  