<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/angular.min.js"></script>
	</head>
	<body>
		
		<div ng-controller="TimeBackController">
			<h1>{{message}}</h1>
			<h2>{{message2}}</h2>
			<a href="javascript:;" ng-click="cancleInterval()">暂停</a>
			<a href="javascript:;" ng-click="runInterval()">开启</a>
			
			
		</div>
		
		
		<script type="text/javascript">
			var app = angular.module("myapp",[]);
			
			
			//注入一个服务
			app.factory("$timeBack",function(){
				return {
					format:function(num){
						return num<10?"0"+num:num;
					},
					time:function(dateString,callback){
						//获取当前时间
						var now = new Date();
						//获取未来时间
						var endDate = new Date(dateString.replace(/-/g,"/"));
						//获取时间差
						var stime = endDate.getTime() - now.getTime();
						//获取两个时间的秒数
						var second = stime / 1000;
						//计算天数
						var days = this.format(parseInt(second / 60/ 60 / 24));
						//剩余的小时
						var hour = this.format(parseInt(second / 60 / 60 % 24));
						//剩余分钟
						var min = this.format(parseInt(second /60 %60));
						//剩余秒数
						var sec = this.format(parseInt(second % 60));
						
						callback&& callback(days,hour,min,sec,dateString);		
					}
				}
			});
			
			
			
			app.controller("TimeBackController",function($scope,$interval,$timeBack){
				
				var time  = mainBack();
				function mainBack(){
					return $interval(function(){
						$timeBack.time("2017-10-1",function(day,hour,min,sec,date){
							$scope.message = "距离【"+date+"】"+day+"天"+hour+"时"+min+"分"+sec+"秒";
						});
						
						$timeBack.time("2017-12-1",function(day,hour,min,sec,date){
							$scope.message2 = "距离【"+date+"】"+day+"天"+hour+"时"+min+"分"+sec+"秒";
						});
					},1000);
				};
				
				//暂停
				$scope.cancleInterval = function(){
					$interval.cancel(time);
				};
				
				//开启
				$scope.runInterval = function(){
					time  = mainBack();
				};
			});
			
			
		</script>
	</body>
</html>
