<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<title>ng-class指令</title>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<style>
			*{padding: 0;margin:0;}
			body{font-size:12px;font-family: "微软雅黑";}
			a{text-decoration: none;color:#333;}
			ul li{list-style:none;}
			
			ul li{float:left;padding:10px 0px;}
			ul li.odd{background-color:red;color:#fff;}
			ul li.even{background-color:green;color:#fff;}
			ul li.bold{font-weight: 700;font-size:18px;}
			ul li span{width:80px;float:left;padding:0 10px;text-align: center;}
			ul li:hover{background:#ccc;}
			ul li.on{background: #000;}
		</style>
	</head>
	<body>
		
		
		
		<div ng-controller="ClassController">
			<ul>
				<li ng-class="'bold'">
					<span>序号
						<input type="text" ng-model="keyname" placeholder="请输入搜索的列"/>
						<input type="text" ng-model="keyword" placeholder="请输入关键词"/>
					</span>
					<span ng-click="title='id';desc=!desc">ID</span>
					<span ng-click="title='name';desc=!desc">姓名</span>
					<span ng-click="title='sex';desc=!desc">性别</span>
					<span ng-click="title='price';desc=!desc">价格</span>
					<span >是否首条</span>
					<span>是否末尾</span>
				</li>
				
				<li ng-repeat="stu in datas | filter:keyword |orderBy:title:desc" ng-class-even="'even'" 
					ng-class-odd="'odd'" ng-class="{'on':$index==focus}" ng-click="clickeme($index)">
					<span>{{$index+1}}</span>
					<span>{{stu.id}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.price | currency:"￥"}}</span>
					<span>{{$first?"是":"否"}}</span>
					<span>{{$last?"是":"否"}}</span>
				</li>
			</ul>
		</div>
		
		
		<script type="text/javascript">
			
			/*
			 *{{表达式|filter:'过滤的字符串'}}
			 * 匹配字符是过滤器的参数，一旦添加该参数之后，将在整个数据的属性中查找匹配项，找到后则显示，否则不显示。
			 * 字符串内容必须加引号，如下代码所示：
			 * {{data|filter:'柯'}}
			 * 找到内容中含有"柯"关键词的内容
			 * {{data|filter:12.69}}
			 * 找到内容中含有"12.69"关键词的内容
			 * 
			 * 2:在指定的列中查找数据.
			 * {{data|filter:对象}}
			 * 比如：
			 * {{data|filter:{score:80}}}和{{data|filter:{$:80}}}
			 * 前者仅在score中匹配80的记录，而或者是在全局中匹配包含80的记录和{{data|filter:80}}是一个意思。
			 * 
			 * 3:自定义匹配过滤器获取相应的数据。
			 * {{data|filter:自定义函数名}}
			 * 往往在开发过程中，会进行复杂的条件过滤。比如查询价格80到120之间的数据。
			 * */
			
			angular.module("myapp",[]).controller("ClassController",function($scope){
				$scope.datas = [
					{id:1,name:"柯柯",sex:"男",price:122.79},
					{id:2,name:"柯柯1",sex:"男",price:88.69},
					{id:3,name:"柯柯2",sex:"女",price:12.69},
					{id:4,name:"柯柯3",sex:"女",price:102.69},
					{id:5,name:"柯柯4",sex:"男",price:120.69},
					{id:6,name:"柯柯5",sex:"女",price:3312.69},
					{id:7,name:"柯柯12",sex:"男",price:22.69}
				];
				
				$scope.title = "price";
				$scope.desc = 0;
				$scope.clickeme = function(i){
					$scope.focus = i;
				};
				
				$scope.findPrice = function(data){
					return data.price > 80 && data.price <120;
				};
			});
		</script>
	</body>
</html>
